.about-block
  min-height: 28.54vw
  height: 100%
  max-height: 550px
  display: flex
  flex-wrap: wrap
  overflow: hidden
  justify-content: center
  +rmin(1921)
    min-height: 550px
  +r(767)
    height: auto
  .row
    width: calc(100% + 30px)
  &__side
    padding-right: calc((100vw - 1400px)/2)
    max-width: 380px
    width: 100%
    padding-left: 53px
    box-sizing: content-box
    padding-top: 80px
    +r(767)
      padding-left: 15px
      padding-top: 35px
    .h1
      margin-bottom: 9px
    .btn
      margin-top: 19px
  &__img
    position: relative
    width: 100%
    height: 100%
    +r(767)
      order: -1
    img
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      height: 100%
      object-fit: cover
      transform: translate(-50%, -50%)
      +r(767)
        position: static
        transform: translate(0, 0)