.about-usl
  .col-12
    padding-left: 3px
    padding-right: 3px
    &:last-of-type
      .about-usl__item
        +r(767)
          background-size: 100%
          height: 550px
  &__item
    height: 550px
    background-color: rgba(#000, .03)
    background-position: top right
    background-repeat: no-repeat
    padding: 46px
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    +r(767)
      height: 455px
      padding: 15px
      background-size: 146% 
      margin-bottom: 22px
  &__side
    width: 100%
    max-width: 444px
    +r(767)
      max-width: 100%
    .h1
      margin-bottom: 5px
    .btn
      margin-top: 17px