.advantages

  &-wrapper
    padding-top: 68px
    padding-bottom: 63px
    +r(767)
      padding-bottom: 27px
    .d-flex
      +r(767)
        flex-wrap: wrap
  &__icon
    background-image: url("data:image/svg+xml,%3Csvg width='89' height='56' viewBox='0 0 89 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M84.6557 14.6721C75.7727 6.20116 63.7437 1.00012 50.5 1.00012C23.1619 1.00012 1 23.162 1 50.5001C1 50.5021 1 50.504 1 50.506C0.674582 52.1903 0.426017 53.9021 0.258097 55.6375C0.0874212 53.9482 0 52.2344 0 50.5001C0 22.6097 22.6096 0.00012207 50.5 0.00012207C65.8503 0.00012207 79.601 6.84901 88.863 17.6577C87.51 16.5991 86.1061 15.6025 84.6557 14.6721Z' fill='%23E0E0E0'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: top left
    width: 101px
    height: 101px
    border-radius: 50%  
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    margin-bottom: 1px
  &__item
    flex: 1
    display: flex
    flex-wrap: wrap
    justify-content: center
    +r(767)
      flex: 1 0 50%
      max-width: 50%
      width: 50%
      margin-bottom: 36px
    +r(385)
      
    .bold
      line-height: 137.8%
      text-align: center
    .text
      line-height: 137.8%
      text-align: center
    .link-next
      display: flex
      text-align: center
      justify-content: center
      width: 100%
      align-items: baseline
      margin-top: 21px

  &-grey
    background: linear-gradient(180deg, #F6F6F8 0%, rgba(246, 246, 248, 0) 100%)
    .advantages__icon
      svg
        fill: #727272
    .advantages-wrapper
      padding-top: 146px
      padding-bottom: 208px
      margin-top: -80px
      margin-bottom: -142px