.big-card
  width: 100%
  overflow: hidden

  .row
    margin-left: -3px
    margin-right: -3px
    width: calc(100% + 6px)
  .col
    padding-left: 3px
    padding-right: 3px
  .col-12
    margin-top: 6px
    padding-left: 3px
    padding-right: 3px
    +r(1199)
      width: 100%
      flex: 1 0 100%
      max-width: 100%
      margin-top: 3px
      &:first-of-type
        margin-top: 0
        
  &__item
    display: flex
    flex-wrap: wrap
    align-items: center
    background: #F6F6F8
    min-height: 580px
    width: 100%
    +r(1550)
      min-height: 25vw
    +r(1199)
      min-height: 275px
      max-height: 500px
      height: 57.29vw
      padding: 14px
      padding-top: 40px
    +r(767)
      height: auto
    .h2
      display: flex
      width: 100%
      margin-bottom: 12px
      +r(1199)
        margin-bottom: 8px
    .h3
      display: flex
      width: 100%
    .link-next
      display: flex
      align-items: baseline
      width: 100%
    .slide-price
      display: block
      .grey
        margin-left: 5px
      .h3
        display: inline-flex
        align-items: baseline
        width: auto
    .text-big
      margin-bottom: 13px 
      display: block
      width: 100%
      +r(767)
        font-size: 1.4rem
    .slide-price
      margin-bottom: 13px
    &-gap
      padding: 27px
      padding-right: 27px
      +r(560)
        padding: 5.63vw
        padding-right: 5.63vw
    &-end
      align-items: flex-end
      .big-card__img
        margin-left: auto
        height: 100%
        display: flex
        align-items: flex-end
        justify-content: flex-end
        img
          max-width: 100%
          max-height: 100%
          object-fit: contain
      .link-next
        margin-top: 22px
        display: flex
        align-items: baseline
        display: flex
        width: 100%
    &-small
      min-height: 376px
      height: 376px
      +r(767)
        height: auto
    &-center
      padding-left: calc((100vw - 1470px)/2)
      padding-right: calc((100vw - 1920px)/2)
    &-left
      padding-left: calc((100vw - 1920px)/2)
    &-right
      padding-right: calc((100vw - 1920px)/2)
    &-macbook
      +r(1199)
        padding: 14px
        padding-top: 40px
      .big-card__side
        max-width: 302px
        flex: 1 0 302px
        width: 302px
        margin-left: 0
        margin-right: 59px
        position: relative
        z-index: 1
        padding-left: 30px
        box-sizing: content-box
        +r(1199)
          width: 100%
          max-width: 100% 
          flex: 1 0 100%
          padding-left: 0
          margin-right: 0
          display: flex
          flex-wrap: wrap
      .big-card__img
        flex: 1 0 calc(100% - 395px)
        max-width:  calc(100% - 395px)
        width: calc(100% - 395px)
        +r(1199)
          width: 100%
          max-width: 100% 
          flex: 1 0 100%
        img
          max-width: 100% 
    &-ipadpro
      padding-left: 14px
      .big-card__side
        max-width: 244px
        flex: 1 0 244px
        width: 244px
        margin-left: auto
        margin-right: 101px
        position: relative
        z-index: 1
        +r(1540)
          margin-right: 50px
        +r(1199)
          flex: 1 0 50%
          max-width: 50%
          width: 50%
          margin: 0
          padding-left: 18px
        +r(400)
          flex: 1 0 100%
          max-width: 100%
          width: 100%
          padding-left: 0
      img
        position: relative
        left: -38px
        object-fit: contain
        max-height: 100%
        +r(1770)
          left: -20%
        +r(1540)
          max-width: 100%
          left: 0
        +r(400)
          max-height: 50vw
      .big-card__img
        flex: 1 0 calc(100% - 345px)
        max-width:  calc(100% - 345px)
        width: calc(100% - 345px)
        +r(1540)
          flex: 1 0 calc(100% - 295px)
          max-width:  calc(100% - 295px)
          width: calc(100% - 295px)
        +r(1199)
          flex: 1 0 50%
          max-width: 50%
          width: 50%
        +r(400)
          flex: 1 0 100%
          max-width: 100%
          width: 100%
          padding-left: 0px
          
          max-height: 50vw
          display: flex
          justify-content: center
    &-ipone
      padding-bottom: 0
      .big-card__side
        max-width: 299px
        flex: 1 0 299px
        width: 299px
        margin-left: 29px
        margin-right: 82px
        +r(1650)
          margin-left: 15px
          margin-right: 50px
        +r(1199)
          flex: 1 0 50%
          max-width: 50%
          width: 50%
          margin: 0
          padding-left: 18px
        +r(400)
          flex: 1 0 100%
          max-width: 100%
          width: 100%
          order: -1
          padding-left: 0
      img
        width: 100%
        object-fit: contain
        
        max-height: 100%
        +r(400)
          max-height: 50vw
      .big-card__img
        margin-top: auto
        padding-left: 39px
        width: 504px
        display: flex
        flex: 1 0 504px
        max-width: 504px
        flex: 1
        +r(1650)
          padding-left: 15px
          flex: 1 0 calc(100% - 375px)
          max-width:  calc(100% - 375px)
          width: calc(100% - 375px)
        +r(1199)
          flex: 1 0 50%
          max-width: 50%
          width: 50%
        +r(400)
          flex: 1 0 100%
          max-width: 100%
          width: 100%
          padding-left: 0
          max-height: 50vw
          
  &__img
    flex: 1 0 calc(100% - 185px)
    flex: calc(100% - 185px)
    max-width: calc(100% - 185px)
  &__side
    width: 185px
    max-width: 185px
    flex: 1 0 185px
    &-price
      +r(1199)
        width: 50%
        flex: 1 0 50%
        max-width: 50%
      +r(400)
        width: 100%
        flex: 1 0 100%
        max-width: 100%
  &__item
    &-small
      +r(560)
        height: 78.33vw
        min-height: unset
      &.card-iphone
        +r(400)
          position: relative
          .big-card__img
            justify-content: flex-start
            position: absolute
            max-width: 45% 
            width: 45%
            top: 0
            height: 100%
            right: 15px
            padding-bottom: 15px
        .size-normal
          +r(400)
            width: 130px
            display: flex
      &.card-mac
        +rmmax(769, 1050)
          position: relative
          .big-card__img
            justify-content: flex-start
            align-items: flex-start
            position: absolute
            max-width: 80% 
            width: 80%
            top: 0
            padding-top: 30px
            height: 100%
            right: 0
        +r(560)
          position: relative
          .big-card__img
            justify-content: flex-start
            align-items: flex-start
            position: absolute
            max-width: 80% 
            width: 80%
            top: 0
            padding-top: 7.29vw
            height: 100%
            right: 0
      &.card-pad
        +rmmax(769, 1050)
          position: relative
          .big-card__img
            justify-content: flex-start
            align-items: flex-start
            position: absolute
            max-width: 80% 
            width: 80%
            top: 0
            padding-top: 7.29vw
            height: 100%
            right: 0
        +r(560)
          position: relative
          .big-card__img
            justify-content: flex-start
            align-items: flex-start
            position: absolute
            max-width: 80% 
            width: 80%
            top: 0
            padding-top: 7.29vw
            height: 100%
            right: 0
      &.card-rec
        +rmmax(769, 1050)
          position: relative
          .big-card__img
            justify-content: flex-start
            align-items: flex-start
            position: absolute
            max-width: 70% 
            width: 70%
            top: 0
            padding-top: 7.29vw
            height: 100%
            right: 0
        +r(560)
          position: relative
          .big-card__img
            justify-content: flex-start
            align-items: flex-start
            position: absolute
            max-width: 70% 
            width: 70%
            top: 0
            padding-top: 7.29vw
            height: 100%
            right: 0
      &.card-watch
        +r(560)
          position: relative
          .big-card__img
            justify-content: flex-start
            position: absolute
            max-width: 50% 
            width: 50%
            top: 0
            padding-top: 7.29vw
            height: 100%
            right: 0
      &.card-acc
        +r(560)
          position: relative
          .big-card__img
            justify-content: flex-start
            position: absolute
            max-width: 40% 
            width: 40%
            top: 0
            padding-top: 7.29vw
            height: 100%
            right: 0
          .size-normal
            max-width: 90%
            display: flex

.grey-cards
  padding-bottom: 115px
  +r(767)
    padding-bottom: 70px
  +r(1050)
    .col-small-gap .col-12
      width: 50%
      max-width: 50%
      flex: 1 0 50%
  +r(768)
    .col-small-gap .col-12
      width: 100%
      max-width: 100%
      flex: 1 0 100%
