::selection
    background: #2F2F2F
    color: #fff
.breadcrumb
    padding-top: 26px
    padding-bottom: 18px
    display: flex
    justify-content: flex-start
    align-items: center
    +r(767)
        padding-top: 0
    .breadcrumb-item 
        position: relative
        padding-right: 10px
        margin-right: 5px
        line-height: 1
        &::after
            content: '-'
            position: absolute
            right: 0
            top: 1px
            font-size: 14px
            font-weight: 300
            color: #2F2F2F
        a
            font-size: 14px
            font-weight: 300
            color: #2F2F2F
        &.active
            color: #B2B2B2
            font-size: 14px
            font-weight: 300
            &::after
                display: none
.title-page    
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    &.catalog-page
        background: #F6F6F8
        padding-bottom: 72px
        +r(767)
            padding-bottom: 42px
        .breadcrumb
            border-bottom: 1px solid #E8E8E8
            margin-bottom: 43px
            +r(767)
                margin-bottom: 21px
        h1
            margin-bottom: 5px
        .descript-page
            width: 400px
            font-size: 16px
            line-height: 27px
            color: #2F2F2F
            +sf-l
            +r(768)
                width: 100%
    &.about
        .breadcrumb
            border-bottom: 1px solid #7B7B7B
            margin-bottom: 31px
            +r(767)
                margin-bottom: 11px
            a
                color: #fff
            .breadcrumb-item
                &::after
                    color: #fff
    .row
        flex-direction: column
        +r(768)
            margin-left: 0px
            margin-right: 0px

.catalog-wrap
    margin-top: -20px
    padding-bottom: 90px
    overflow-x: hidden
    +r(1024)
        padding-bottom: 50px
    .row
        margin-right: -30px
        margin-left: -30px
    .catalog__item
        margin-bottom: 30px
        +r(1024)
            flex: 0 0 33%
            max-width: 33%
        +r(767)
            flex: 0 0 49%
            max-width: 49%
        +r(560)
            flex: 0 0 100%
            max-width: 100%
            margin-bottom: 10px
        .catalog-link
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            height: 280px
            padding: 25px
            background: #fff
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08)
            font-size: 21px
            +sf-l
            color: #000
            img
                max-width: 100%
                max-height: 100%
                +r(1300)
                    max-width: 74%
                +r(960)
                    max-width: 55%
                +r(480)
                    max-width: 60%
            +r(1024)
                height: 150px
                font-size: 16px

.info-block
    background: linear-gradient(180deg, #2A71E3 0%, #195DC9 99.99%, rgba(27, 87, 184, 0) 100%)
    position: relative
    +r(767)
        margin-bottom: 15px
    .row-full
        justify-content: flex-end
        align-items: stretch
        display: flex
        +r(1024)
            flex-direction: column
    .l-section
        position: absolute
        left: 0
        top: 0
        bottom: 0
        width: 50%
        +r(1024)
            position: absolute
            width: 100%
            left: 0
            right: 0
            bottom: auto
            top: 0
            height: 500px    
        +r(767)
            height: 260px
        +r(480)
            height: 225px
        img
            width: 100%
            height: 100%
            object-fit: cover
    .r-section
        flex: 0 0 50%
        position: relative
        z-index: 1
        padding: 0 50px
        color: #fff
        height: 505px
        display: flex
        justify-content: center
        flex-direction: column
        +r(1200)
            padding: 0 10px
        +r(1024)
            padding: 570px 0px 40px
            height: auto
        +r(767)
            padding: 353px 0px 40px
        +r(767)
            padding: 270px 0px 40px
        &::before
            content: ''
            position: absolute
            top: 0
            bottom: 0
            width: 115px
            background: linear-gradient(180deg, #2A71E3 0%, #195DC9 99.99%, rgba(27, 87, 184, 0) 100%)
            left: -114px
            clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%)
            +r(1800)
                left: -114px
            +r(1024)
                display: none

        li,span,a,p
            font-size: 16px
            line-height: 27px
            +sf-l
            &.bold
                +sf-b
        h2
            margin-bottom: 9px
        .detail-list
            margin-top: 34px
            display: flex
            justify-content: space-between
            align-items: flex-start
            +r(767)
                margin-top: 20px
            ul
                li
                    margin-bottom: 22px
                    +r(767)
                        margin-bottom: 15px
                    display: flex
                    flex-direction: column
                    .soc-list
                        display: flex
                        justify-content: flex-start
                        align-items: center
                        flex-direction: row
                        a
                            margin-right: 15px


.seo-wrap
    padding-top: 120px
    padding-bottom: 130px
    font-size: 16px
    line-height: 27px
    +r(1024)
        padding-top: 70px
        padding-bottom: 70px
    +r(767)
        padding-top: 40px
        padding-bottom: 30px
    +r(480)
        padding-top: 0
    .row
        flex-direction: column
    h2
        margin-bottom: 17px
    a
        color: #2A71E3
    .text-wrap
        height: 350px
        position: relative
        overflow: hidden
        transition: all 0.3s
        &::after
            content: ''
            position: absolute
            left: 0
            right: 0
            bottom: 0
            height: 38%
            width: 100%
            background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%)
    .read-more
        svg
            transition: all 0.3s
    
    &.open
        .text-wrap
            height: auto
            transition: all 0.3s
            overflow: auto
            &::after
               opacity: 0
               visibility: hidden
               height: 0
               transition: all 0.3s
        .read-more
            svg
                transform: rotate(180deg)
                transition: all 0.3s

