.insta
  padding-top: 111px
  +r(767)
    padding-top: 72px
  &-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &-item
    width: calc(20% - 3px)
    max-width: calc(20% - 3px)
    flex: 1 0 calc(20% - 3px)
    position: relative
    +r(767)
      width: calc(50% - 1px)
      max-width: calc(50% - 1px)
      flex: 1 0 calc(50% - 1px)
      margin-bottom: 2px
      &:last-of-type
        display: none
    &:hover
      .insta-over
        opacity: 1
    > img
      width: 100%
      height: 100%
      object-fit: cover
  &-over
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    background: rgba(#000, .8)
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    transition: all .2s ease
    opacity: 0
    &__side
      display: flex
      flex-wrap: wrap
      justify-content: center
    &__text
      display: flex
      width: 100%
      justify-content: center
      font-size: 16px
      line-height: 169%
      text-align: center
      text-decoration-line: underline
      color: #FFFFFF
      margin-top: 12px
