.news-wrapper
  margin-top: 113px
  margin-left: -14px
  margin-right: -14px
  +r(767)
    margin-top: 72px
    padding-bottom: 35px
    margin-left: 0
    margin-right: 0
  .col-12
    padding-left: 14px
    padding-right: 14px
    &:last-of-type
      .news-item
        margin-bottom: 0 !important
  .h2
    margin-bottom: 68px
    +r(767)
      margin-bottom: 33px
.news-item
  display: flex
  flex-wrap: wrap
  width: 100%
  +r(767)
    margin-bottom: 60px
  &:hover
    > span
      text-decoration: underline
    .link-next
      text-decoration: none
  &__img
    height: 308px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    margin-bottom: 28px
    +r(560)
      height: 285px
    img
      height: 100%
      width: 100%
      object-fit: cover
  .text-big
    display: flex
    width: 100%
    margin-bottom: 14px
  .text-normal
    display: flex
    width: 100%
    margin-bottom: 21px