.often-renovated
  padding-bottom: 90px
  +r(767)
    padding-bottom: 0
  .col-12
    &:nth-child(1)
      .often-renovated__item-text
        max-width: 118px
    &:nth-child(5)
      .often-renovated__item
        +r(1200)
          background-position: 6vw bottom 
        +r(767)
          background-position: 100% bottom
        +r(500)
          background-position: calc(100% + 11vw) bottom
        +r(413)
          background-position: calc(100% + 25vw) bottom
    &:nth-child(6)
      .often-renovated__item-text
        max-width: 121px  
  &__item
    height: 284px
    background-repeat: no-repeat
    background-position: 60px bottom
    background-color: #FFFFFF
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08)
    margin-bottom: 30px
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 37px
    background-position: right bottom
    +r(1420)
      background-position: 150% bottom
    +r(1300)
      background-position: 200% bottom
    +r(1200)
      background-position: 14vw bottom
    +r(991)
      background-position: 20vw bottom
    +r(767)
      background-position: 100% bottom
      margin-bottom: 10px
    +r(500)
      background-position: calc(100% + 11vw) bottom
    +r(413)
      background-position: calc(100% + 25vw) bottom
    +r(380)
      background-position: calc(100% + 40vw) center
    &-r-c
      background-position: right center
      +r(1420)
        background-position: 150% center
      +r(1300)
        background-position: 200% bottom
      +r(1200)
        background-position: 14vw bottom
      +r(991)
        background-position: 20vw center
      +r(767)
        background-position: 100% center
      +r(500)
        background-position: calc(100% + 11vw) center
      +r(413)
        background-position: calc(100% + 25vw) center
      +r(380)
        background-position: calc(100% + 40vw) center
    &-text
      width: 140px
      font-size: 21px
      line-height: 27px

      color: #000000
      +r(767)
        width: 135px
