.our-everyday
  padding-top: 108px
  padding-bottom: 120px
  +r(767)
    padding-top: 68px
    padding-bottom: 80px
  &__arrows
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    margin-top: 32px
  &-nav
    margin-left: 25px
    cursor: pointer
    &:first-of-type
      margin-left: 0
  .swiper-slide
    width: 29.69vw
    min-width: 450px
    max-width: 600px
    margin-right: 30px
    +r(767)
      min-width: 300px
      width: 300px
    &:first-of-type
      padding-left: calc((100vw - 1400px)/2)
      +r(767)
        padding-left: 15px
  &__link
    display: flex
    justify-content: center
    align-items: center
    position: relative
    padding-top: 343px
    +r(767)
      padding-top: 200px
    img
      object-fit: cover
      width: 100%
      height: 100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)