.our-task
  height: 640px
  display: flex
  flex-wrap: wrap
  overflow: hidden
  justify-content: center
  padding-top: 66px
  +r(767)
    height: auto
  .row
    height: 100%
  .d-flex
    +r(767)
      order: -1
  &__side
    max-width: 555px
    width: 100%
    padding-left: 53px
    box-sizing: content-box
    +r(767)
      padding-left: 0px
      order: -1
    .h1
      margin-bottom: 9px
    .btn
      margin-top: 19px
    .text-normal
      p
        padding-bottom: 25px
        &:last-of-type
          padding-bottom: 0
  &__img
    position: relative
    width: 100%
    height: 100% 
    +r(767)
      padding-top: 24px
    img
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      height: 100%
      object-fit: cover
      transform: translate(-50%, -50%)
      +r(767)
        position: static
        transform: translate(0, 0)