.product-item
  background: #FFFFFF
  box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.1)
  padding-bottom: 23px
  padding-top: 0
  display: flex
  flex-wrap: wrap
  position: relative
  transition: all .2s ease
  +r(767)
    padding-bottom: 16px
  &:hover
    box-shadow: 3px 2px 16px 3px rgba(0, 0, 0, 0.15)
    transform: scale(1.05)
  .slide-price
    +r(440)
      .h3
        display: flex
        width: 100%
        align-items: baseline
  &__body
    display: flex
    flex-wrap: wrap
    padding-left: 31px
    padding-right: 31px
    max-width: 100%
    +r(767)
      padding-left: 15px
      padding-right: 15px
    +r(686)
      margin-top: 15px
    > *
      display: block
      width: 100%
    .text-normal
      margin-top: 7px
      margin-bottom: 8px
      +r(480)
        margin-top: 5px
        margin-bottom: 5px
        line-height: 1
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
  &__icons
    position: absolute
    top: 26px
    right: 23px
    display: flex
    flex-wrap: wrap
    width: 20px
    z-index: 5
    +r(767)
      position: static
      width: 100%
      justify-content: flex-end
      padding: 14px
    > *
      display: flex
      margin-bottom: 11px
      cursor: pointer
      +r(767)
        margin-bottom: 0
        margin-left: 13px
      &:last-of-type
        margin-bottom: 0
  &__img
    position: relative
    padding-top: 75%
    width: 100%
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 0px
    margin-top: 32px
    margin-bottom: 32px
    +r(560)
      margin-bottom: 21px
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      max-width: 100%
      max-height: 100%
      object-fit: contain

.slider-popular-tabs
  padding-top: 54px
  padding-bottom: 113px
  +r(767)
    padding-top: 33px
    padding-bottom: 75px
  .swiper-slide
    width: 25%
    padding: 11px
    box-sizing: border-box
    +r(991)
      width: 33.3%
    +r(767)
      width: 50%
    +r(400)
      width: 100%
    &:hover
      // transition: all .2s ease
      // padding: 6px
  &-nav
    width: 41px
    height: 41px
    border-radius: 50%
    background: #F6F6F8
    display: flex
    justify-content: center
    align-items: center
    margin-right: 8px
    cursor: pointer
    &:last-of-type
      margin-right: 0
    svg
      fill: #838383
      width: 7px
      height: 13px
  &__arrows
    display: flex
    flex-wrap: wrap
    margin: 0 auto
    justify-content: center
    margin-top: 23px
    +rmin(768)
      position: absolute
      right: 0
      top: 8px
      margin-top: 0