.repear-block
  min-height: 28.54vw
  height: 100%
  max-height: 499px
  display: flex
  flex-wrap: wrap
  overflow: hidden
  justify-content: center
  +rmin(1921)
    min-height: 500px
  +r(991)
    padding-top: 50px
    max-height: unset
    height: auto
  .row
    width: calc(100% + 30px)
  &__side
    padding-left: calc((100vw - 1400px)/2)
    max-width: 489px
    width: 100%
    box-sizing: content-box
    
    +r(991)

      padding-left: 15px
      padding-right: 15px
      margin-bottom: 31px
    .h1
      margin-bottom: 9px
    .btn
      margin-top: 19px
  &__img
    position: relative
    width: 100%
    height: 100%
    +r(767)
      height: 386px
    +r(480)
      height: 80vw
    img
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      height: 100%
      object-fit: cover
      transform: translate(-50%, -50%)
      +r(767)
        position: static
        transform: translate(0, 0)
        
      