.repear-list
  padding-top: 108px
  padding-bottom: 82px
  +r(767)
    padding-bottom: 55px
    padding-bottom: 70px
  .col-12
    +r(800)
      width: 100%
      flex: 1 0 100%
      max-width: 100%
    &:nth-child(1)
      .repear-list__item-top__r-b
        +r(460)
          background-position: calc(100% + 55vw) bottom
        +r(410)
          background-position: calc(100% + 75vw) bottom
        +r(380)
          background-position: calc(100% + 95vw) bottom
    &:nth-child(3)
      .repear-list__item-top__r-b
        +r(767)
          background-size: 130% 100%
        +r(522)
          background-size: 160% 100%
        +r(380)
          background-size: 200% 100%
    &:nth-child(4)
      .repear-list__item-top__r-c
        +r(380)
          background-position: calc(100% + 95vw) bottom
      
  &__item
    min-height: 320px
    width: 100%
    position: relative
    margin-bottom: 30px
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1)
    +r(767)
      margin-bottom: 10px
    &:hover
      .repear-list__item-back
        opacity: 1
    &-top
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      background-repeat: no-repeat
      background-position: center
      padding-left: 56px
      display: flex
      align-items: center
      flex-wrap: wrap
      +r(1250)
        background-position: calc(100% + 20vw) center
      +r(1100)
        background-position: calc(100% + 29vw) center
      +r(522)
        background-position: calc(100% + 45vw) center
      +r(380)
        background-position: calc(100% + 70vw) center
      &__r-b
        background-position: right bottom
        +r(1250)
          background-position: calc(100% + 20vw) bottom
        +r(1100)
          background-position: calc(100% + 29vw) bottom
        +r(522)
          background-position: calc(100% + 45vw) bottom
        +r(380)
          background-position: calc(100% + 70vw) bottom
      &__r-c
        background-position: center bottom
        +r(1250)
          background-position: calc(100% + 20vw) bottom
        +r(1100)
          background-position: calc(100% + 29vw) bottom
        +r(522)
          background-position: calc(100% + 45vw) bottom
        +r(380)
          background-position: calc(100% + 70vw) bottom
      &__r-t
        background-position: right top
        +r(1250)
          background-position: calc(100% + 20vw) top
        +r(1100)
          background-position: calc(100% + 29vw) top
        +r(522)
          background-position: calc(100% + 45vw) top
        +r(380)
          background-position: calc(100% + 70vw) top
      > *
        width: 100%
    &-back
      width: 100%
      height: 100%
      display: flex
      flex-wrap: wrap
      padding: 50px
      padding-left: 81px
      padding-right: 24px
      position: relative
      z-index: 5
      background: #fff
      transition: all .2s ease
      opacity: 0
      +r(767)
        padding: 11.67vw
    &-list
      flex: 1
      display: flex
      flex-wrap: wrap
      columns: 3
      +r(600)
        columns: 2
      li
        width: 33%
        +r(600)
          width: 50%
      &__link
        font-size: 1.6rem
        line-height: 194%
        color: #2F2F2F
        display: block
        width: 100%
        +r(767)
        &:hover
          color: #2A71E3