.title-page,
.top-block
  padding-top: 26px
  padding-bottom: 46px
  position: relative
  +r(767)
    padding-top: 19px
    padding-bottom: 17px
  // &:before
  //   position: absolute
  //   content: ''
  //   width: 100%
  //   height: 100%
  //   background: #000000
  //   opacity: 0.6
  //   top: 0
  //   left: 0
  .container
    position: relative
    z-index: 5
    .breadcrumbs
      margin-bottom: 31px
      +r(767)
        margin-bottom: 11px