.why-us
  padding-bottom: 110px
  +r(767)
    padding-bottom: 67px
  .row
    margin-left: 0
    margin-right: 0
    > div
      padding-left: 0
      padding-right: 0
  &__blue
    background: url('../img/blue.png') no-repeat right center
    background-size: cover
    display: flex
    justify-content: flex-end
    align-items: center
    
    height: 528px
    +r(767)
      height: 384px
    img
      max-width: 100%
      max-height: 100%
  &__icons
    background: url('../img/whyicons.png') no-repeat right center
    
    background-size: cover
    display: flex
    flex-wrap: wrap
    height: 100%
    
    height: 528px
    +r(767)
      height: auto
      
    &-wrapper
      display: flex
      flex-wrap: wrap
      padding-top: 91px
      padding-bottom: 91px
      padding-left: 200px
      +r(1450)
        padding-left: 100px
      +r(1050)
        padding-left: 30px
        padding-right: 30px
      +r(767)
        padding-left: 8.75vw
        padding-right: 8.75vw
        padding-top: 90px
        padding-bottom: 54px
    .advantages__item
      width: 50%
      flex: 1 0 50%
      max-width: 50%
      > *
        color: #fff !important