+font('sfb', 'SFUIDisplay-Bold')
+font('sfl', 'SFUIDisplay-Light')
+font('sf', 'SFUIDisplay-Regular')
+font('sfm', 'SFUIDisplay-Medium')
+font('sfsb', 'SFUIDisplay-Semibold')

=sf-b
  font-family: 'sfb', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=sf-l
  font-family: 'sfl', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=sf
  font-family: 'sf', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=sf-m
  font-family: 'sfm', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=sf-sb
  font-family: 'sfsb', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font


a
  color: inherit
  text-decoration: none
  +sf

html
  font-size: 10px
  +r(385)
    font-size: 8px
body
  +sf-l
  font-size: 1.6rem
  color: $dark

.size-normal
  font-size: 1.6rem
 

.grey
  color: $grey
.white
  color: #fff

.crossed
  position: relative
  &::before
    border-bottom: 1px solid $grey
    position: absolute
    content: ""
    left: 0
    top: 0
    right: 0
    left: 0
    transform: rotate(9deg)
    bottom: 0
    transform-origin: 100% 66%

.text-big
  font-size: 1.8rem

.text-small
  font-size: 1.2rem

.text-normal
  font-size: 1.6rem
  line-height: 2.7rem

.blue
  color: $blue
.grey-light
  color: $grey-light
.h1
  font-size: 3.4rem
  +sf-b
  +r(420)
    font-size: 3rem

.h2
  font-size: 3.4rem
  +sf-b
  +r(767)
    font-size: 2.4rem

.h3
  font-size: 2.4rem
  +r(767)
    font-size: 2.1rem

h2.title-block
  font-size: 3.4rem
  +sf-b
  +r(767)
    font-size: 2.4rem

.link-next
  color: $blue
  svg
    fill: $blue
    width: 9px
    height: 10px
    margin-left: 3px

h2
  font-size: 3.4rem
  +sf-b
  +r(767)
    font-size: 2.4rem

h3
  font-size: 3.4rem
  +sf-b
  +r(767)
    font-size: 2.1rem
b
  +sf-b

.small-h3-inner
  h3
    font-size: 2.1rem
    margin-top: 30px
    margin-bottom: 6px

.center
  text-align: center
.bold
  +sf-b
.light
  +sf-l