---
title: Рубрика

---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- BEGIN .title-page -->
<div class="title-page catalog-page">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Главная </a></li>
                <li class="breadcrumb-item active" aria-current="page">Каталог</li>
            </ol>
            <h1 class="h1">Mac</h1>
            <p class="descript-page">
                Операционная система macOS — основа каждого Mac. Она позволяет решать задачи, с которыми другие компьютеры просто не справятся
            </p>
        </div>
    </div>
</div>
<!-- END .title-page -->


<!-- BEGIN .title-page -->
    <section class="catalog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-4 catalog__item">
                    <a href="#" class="catalog-link">
                        <span class="name">MacBook</span>
                        <img src="img/catalog/MacBook.png" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 catalog__item">
                    <a href="#" class="catalog-link">
                        <span class="name">MacBook Pro</span>
                        <img src="img/catalog/MacBookPro.png" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 catalog__item">
                    <a href="#" class="catalog-link">
                        <span class="name">MacBook Air</span>
                        <img src="img/catalog/MacBookAir.png" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 catalog__item">
                    <a href="#" class="catalog-link">
                        <span class="name">iMac</span>
                        <img src="img/catalog/iMac.png" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 catalog__item">
                    <a href="#" class="catalog-link">
                        <span class="name">Mac Pro</span>
                        <img src="img/catalog/MacPro.png" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 catalog__item">
                    <a href="#" class="catalog-link">
                        <span class="name">Mac Mini</span>
                        <img src="img/catalog/MacMini.png" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 catalog__item">
                    <a href="#" class="catalog-link">
                        <span class="name">iMac Pro</span>
                        <img src="img/catalog/IMacPro.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- END .title-page -->

<!-- BEGIN .info-block -->
{% include './partials/_info-block.html' %}
<!-- END .info-block -->

<!-- BEGIN .seo-wrap -->
{% include './partials/_seo-block.html' %}
<!-- END .seo-wrap -->

{% endblock %}
