---
title: Index page
sliderMain: [
  {
    text1: 'Открой для себя ',
    text2: 'новый мир звука',
    text3: 'Новые APPLE AirPods Pro уже в наличии',
    price: '7 499',
    oldprice: '9 499',
    src: 'banner.png'
  },
  {
    text1: 'Открой для себя ',
    text2: 'новый мир звука',
    text3: 'Новые APPLE AirPods Pro уже в наличии',
    price: '17 499',
    oldprice: '49 499',
    src: 'banner.png'
  },
  {
    text1: 'Открой для себя ',
    text2: 'новый мир звука',
    text3: 'Новые APPLE AirPods Pro уже в наличии',
    price: '5 499',
    oldprice: '39 499',
    src: 'banner.png'
  },
  {
    text1: 'Открой для себя ',
    text2: 'новый мир звука',
    text3: 'Новые APPLE AirPods Pro уже в наличии',
    price: '3 499',
    oldprice: '19 499',
    src: 'banner.png'
  },
  {
    text1: 'Открой для себя ',
    text2: 'новый мир звука',
    text3: 'Новые APPLE AirPods Pro уже в наличии',
    price: '17 499',
    oldprice: '29 499',
    src: 'banner.png'
  }
]
advantages: [
  {
    icon: 'price1',
    text1: 'Привлекательные',
    text2: 'условия покупки'
  }
  ,{
    icon: 'box1',
    text1: 'Выгодные',
    text2: 'условия доставки'
  }
  ,{
    icon: 'customer-service1',
    text1: 'Всегда находимся',
    text2: 'на связи с клиентом'
  }
  ,{
    icon: 'surface1',
    text1: 'Обширный ассортимент',
    text2: 'техники Apple'
  }
]
cards: [
  {
    class: 'col-md-4',
    title: 'iPhone',
    text: 'Выбирайте свой новый iPhone в каталоге',
    img: '1.png',
    classtype: 'card-iphone'
  }
  ,{
    class: 'col-md-8',
    title: 'Mac',
    text: 'Легкий. Современный. твой новый Macbook',
    img: '2.png',
    classtype: 'card-mac'
  }
  ,{
    class: 'col-md-8',
    title: 'iPad',
    text: 'Планшет, который опережает время',
    img: '3.png',
    classtype: 'card-pad'
  }
  ,{
    class: 'col-md-4',
    title: 'Apple watch',
    text: 'Часы, которые <br />меняют жизнь',
    img: '4.png',
    classtype: 'card-watch'
  }
  ,{
    class: 'col-md-4',
    title: 'Аксессуары',
    text: 'Аксессуары Apple Открывают возможности',
    img: '5.png',
    classtype: 'card-acc'
  }
  ,{
    class: 'col-md-8',
    title: 'Apple Б/у',
    text: 'Техника Apple доступна каждому',
    img: '6.png',
    classtype: 'card-rec'
  }
]
productSlider: [
  {
    img: '1.png'
  }
  ,{
    img: '2.png'
  }
  ,{
    img: '3.png'
  }
  ,{
    img: '4.png'
  }
  ,{
    img: '1.png'
  }
  ,{
    img: '2.png'
  }
  ,{
    img: '3.png'
  }
  ,{
    img: '4.png'
  }
]
newsBlock: [
  {
    img: '1.png',
    title: 'Как выбрать iPhone в 2020 году',
    text: 'Сегодня на рынке смартфонов легко растрятся, ведь производители предлагают огромное множество разнообразных моделей смартфонов и выбирать...'
  }
  ,{
    img: '2.png',
    title: 'Какие модели Macbook самые популярные в Украине и почему стоит уделить внимание не...',
    text: 'Сегодня на рынке смартфонов легко растрятся, ведь производители предлагают огромное множество...'
  }
  ,{
    img: '3.png',
    title: 'Как купить Apple, если немножко не хватает?',
    text: 'Сегодня на рынке смартфонов легко растрятся, ведь роизводители предлагают огромное множество разнообразных моделей смартфонов и выбирать...'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="hero-banner">

    {% include './sliders/_main-banner.html' %}
    
  

</div>

<!-- BEGIN .big-card -->
{% include './partials/_big-card.html' %}
<!-- END .big-card -->

{% include './partials/_advantages.html' %}

<!-- BEGIN .grey-cards -->
<div class="grey-cards">


{% include './partials/_grey-cards.html' %}
</div>
<!-- END .grey-cards -->

<!-- BEGIN .popular-products -->

<div class="container">
  <div class="h2 bold">
    Популярные товары
  </div>
</div>
<div class="container-slider">
  {% include './sliders/_popular-products.html' %}
</div>

<!-- END .popular-products -->

<!-- BEGIN .info-block -->
{% include './partials/_info-block.html' %}
<!-- END .info-block -->

<!-- BEGIN .news-block -->

{% include './partials/_news-block.html' %}

<!-- BEGIN .end-block -->

<!-- BEGIN .seo-wrap -->
{% include './partials/_seo-block.html' %}
<!-- END .seo-wrap -->

{% endblock %}
