<div class="about-block">
  <div class="row">
    <div class="col-md-7 col-12">
      <div class="about-block__img">
        <img src="./img/about-w.jpg" alt="">
      </div>
    </div>
    <div class="col-md-5 col-12 align-self-center  justify-content-center d-flex">
      <div class="about-block__side">
        <div class="h1">4Apple</div>
        <div class="text-normal">
          Компания “4apple”- основана в 2017 году . На протяжении 3 лет занимаемся продажей и сервисным обслуживанием продукта Apple. 
        </div>
      </div>
    </div>
  </div>
</div>