<div class="about-usl">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-12">
        <div class="about-usl__item" style="background-image: url('./img/remapple.png');">
            <div class="about-usl__side">

            
              <div class="h1">Ремонт техники Apple</div>
              <div class="text-normal">
                Мы выполняем полный спектр услуг по ремонту и обслуживанию техники Apple. Наши специалисты выполняют ремонт любой сложности.
              </div>
              <a href="" class="btn btn-blue btn-size-normal">Записаться на ремонт</a>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="about-usl__item" style="background-image: url('./img/prodap.png');">
          <div class="about-usl__side">

          
            <div class="h1">Продажа техники Apple</div>
            <div class="text-normal">
              Мы предлагаем нашим покупателям только официальную технику Apple с гарантией и полным обслуживанием. Переходите в каталоги выбирайте свой новый гаджет!
            </div>
            <a href="" class="btn btn-blue btn-size-normal">Перейти в каталог</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>