<!-- BEGIN .advantages-wrapper -->
<div class="advantages-wrapper">

  <div class="container">
    <div class="row">

    <div class="col-12 d-flex">

        
        {% for item in advantages %}
        <!-- BEGIN .advantages__item -->
          <div class="advantages__item">
            <div class="advantages__item-wrapper">

            
              <div class="advantages__icon">
                {{mixins.icon(item.icon)}}
              </div>
              <div class="bold">{{item.text1}}</div>
              <div class="text">{{item.text2}}</div>
        
              <a href="" class="link-next">Узнать больше {{mixins.icon('chev-next')}}</a>
            </div>
          </div>
          
        <!-- END .advantages__item -->
        {% endfor %}

      </div>
    </div>
  </div>

</div>
<!-- END .advantages-wrapper -->