<div class="big-card ">

  <div class="row">



  <div class="col-12 col-md-6">

    <a  href="" class="big-card__item big-card__item-left big-card__item-ipadpro">

      <span class="big-card__img">
        <img src="./img/ipadpro.png" alt="">
      </span>
      <span class="big-card__side">
        <span class="h2 bold">iPad Pro</span>
        <span class="text-big">Ваш новый планшет перестал быть просто планшетом</span>
        <span class="slide-price"> <span class="h3 blue bold">7 499 <span class="size-normal">грн</span> </span> <span class="grey crossed">9 499 <span class="size-small">грн</span> </span> </span>
        <span class="link-next">Купить {{mixins.icon('chev-next')}}</span>
      </span>

    </a>

  </div>
  <div class="col-12 col-md-6">

    
    <a href="" class="big-card__item big-card__item-right big-card__item-ipone">

      <span class="big-card__img">
        <img src="./img/iphone11.png" alt="">
      </span>
      <span class="big-card__side">
        <span class="h2 bold">Apple iPhone 11 Pro Max 256Gb</span>
        <span class="text-big">Новые ощущения, которые остаются в вашей памяти навсегда</span>
        <span class="slide-price"> <span class="h3 blue bold">18 499 <span class="size-normal">грн</span> </span> <span class="grey crossed">19 499 <span class="size-small">грн</span> </span> </span>
        <span href="" class="link-next">Купить {{mixins.icon('chev-next')}}</span>
      </span>

    </a>


  </div>
  <div class="col-12">

    <a href="" class="big-card__item big-card__item-center big-card__item-macbook">

      <span class="big-card__side">
        <span class="big-card__side-price">

        
        <span class="h2 bold">Apple MacBook Air</span>
        <span class="text-big">Ваш новый компьютер перестал быть просто компьютером</span>
      </span>
        <span class="big-card__side-price">

        
        <span class="slide-price"> <span class="h3 blue bold">18 499 <span class="size-normal">грн</span> </span> <span class="grey crossed">19 499 <span class="size-small">грн</span> </span> </span>
        <span class="link-next">Купить {{mixins.icon('chev-next')}}</span>
      </span>
      </span>

      <span class="big-card__img">
        <img src="./img/macbook.png" alt="">
      </span>
  

    </a>

  </div>

  </div>

</div>