<div class="container">
  <div class="row col-small-gap">

    {% for item in cards %}

      <!-- BEGIN .big-card__item -->
      <div class="col-12 {{item.class}} ">
        <a href="" class="big-card__item big-card__item-gap big-card__item-small  big-card__item-end {{item.classtype}}">

        
          <span class="big-card__side">
            <span class="h3 bold">{{item.title}}</span>
            <span class="size-normal">{{item.text | safe}}</span>
            
            <span class="link-next">Перейти в каталог {{mixins.icon('chev-next')}}</span>
          </span>
          <span class="big-card__img">
            <img src="./img/bigitem/{{item.img}}" alt="">
          </span>

        </a>

      </div>
      <!-- END .big-card__item -->

    {% endfor %}

  </div>
</div>