<section class="info-block">
    <div class="container">
        <div class="row-full">
            <div class="l-section">
                <img src="img/info-img.jpg" alt="">
            </div>
            <div class="r-section">
                <h2 class="title-block">Остались вопросы?</h2>
                <p>Мы всегда рады вашим обращениям. Наши менеджеры грамотно проконсультируют вас по всем возникшим вопросам </p>
                <div class="detail-list">
                    <ul class="address">
                        <li>
                            <span class="bold">Адрес:</span>
                            <span>г. Харьков, ул. Пушкинская 40</span>
                        </li>
                        <li>
                            <span class="bold">График работы:</span>
                            <span>10:00-20:00 (Пн-Вс)</span>
                        </li>
                        <li>
                            <span class="bold">E-mail:</span>
                            <a href="mailto:info@4apple.ua">info@4apple.ua</a>
                        </li>
                    </ul>
                    <ul class="phone">
                        <li>
                            <span class="bold">Телефоны:</span>
                            <a href="tel:0500111444">(050) 011 14 44</a>
                            <a href="tel:0730111444">(073) 011 14 44</a>
                            <a href="tel:0970111444">(097) 011 14 44</a>
                        </li>
                        <li >
                            <span class="bold">Мы в соц. сетях:</span>
                            <div class="soc-list">
                                <a href="#" target="_blank" rel="noopener noreferrer"><img src="img/icon/fb.svg" alt=""></a>
                                <a href="#" target="_blank" rel="noopener noreferrer"><img src="img/icon/insta.svg" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>