<div class="insta">
  <div class="main__header">
    <div class="h1 bold center">Мы в инстаграм</div>
    <div class="text-normal center">Вы активно ведем социальные сети и хотим, чтобы вы всегда были в курсе наших последних новостей</div>
  </div>
  <div class="container">

    
    <div class="insta-wrapper">
      <a href="" class="insta-item">
        <img src="./img/insta/1.jpg" alt="">
        <div class="insta-over">
          <div class="insta-over__side">
            <img src="./img/instagram-sketched3.svg" alt="">
            <div class="insta-over__text">Смотреть в инстаграм</div>
          </div>
          
        </div>
      </a>
      <a href="" class="insta-item">
        <img src="./img/insta/2.jpg" alt="">
        <div class="insta-over">
          <div class="insta-over__side">
            <img src="./img/instagram-sketched3.svg" alt="">
            <div class="insta-over__text">Смотреть в инстаграм</div>
          </div>
          
        </div>
      </a>
      <a href="" class="insta-item">
        <img src="./img/insta/3.jpg" alt="">
        <div class="insta-over">
          <div class="insta-over__side">
            <img src="./img/instagram-sketched3.svg" alt="">
            <div class="insta-over__text">Смотреть в инстаграм</div>
          </div>
          
        </div>
      </a>
      <a href="" class="insta-item">
        <img src="./img/insta/4.jpg" alt="">
        <div class="insta-over">
          <div class="insta-over__side">
            <img src="./img/instagram-sketched3.svg" alt="">
            <div class="insta-over__text">Смотреть в инстаграм</div>
          </div>
          
        </div>
      </a>
      <a href="" class="insta-item">
        <img src="./img/insta/5.jpg" alt="">
        <div class="insta-over">
          <div class="insta-over__side">
            <img src="./img/instagram-sketched3.svg" alt="">
            <div class="insta-over__text">Смотреть в инстаграм</div>
          </div>
          
        </div>
      </a>
    </div>
  </div>
  
</div>