
<div class="news-block">
  <div class="container">
 
    <!-- BEGIN .news-wrapper -->
    <div class="news-wrapper ">

      <div class="h2 bold">
        Новости
      </div>

      <div class="row">
      {% for item in newsBlock %}
        <!-- BEGIN .news-item -->
        <div class="col-md-4 col-12">
          <a href="" class="news-item ">
            <span class="news-item__img">
              <img src="./img/news/{{item.img}}" alt="">
            </span>
            <span class="bold text-big">
              {{item.title}}
            </span>
            <span class="text-normal">
              {{item.text}}
            </span>
            <span class="link-next">
              Читать {{mixins.icon('chev-next')}}
            </span>

          </a>
        </div>
        <!-- END .news-item -->
      {% endfor %}

      </div>

    </div>
    <!-- END .news-wrapper -->
  </div>
</div>