<div class="often-renovated">
  <div class="main__header">
    <div class="h1 bold center">Часто ремонтируют</div>
    <div class="text-normal center">Специалисты из 4Apple качественно и в кратчайшие сроки выполнят ремонтные работы вашего гаджета Apple</div>
  </div>
  <div class="container">
    <div class="row">
      {% for item in renovated %}
        <!-- BEGIN .often-renovated__item -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="often-renovated__item {{item.pos}}" style="background-image: url('img/renovated/{{item.bg}}');">
            <div class="often-renovated__item-text">{{item.text}}</div>
          </div>
        </div>
        <!-- END .often-renovated__item -->
      {% endfor %}
    </div>
  </div>
</div>