<div class="our-task">
  <div class="container">

    <div class="row">
      <div class="col-md-5 col-12">
        <div class="our-task__img">
          <img src="./img/task.png" alt="">
        </div>
      </div>
      <div class="col-md-7 col-12 align-self-center  d-flex">
        <div class="our-task__side">
          <div class="h1">Наша задача и ценности</div>
          <div class="text-normal">
            <p>Главной задачей нашей компании , является «удовлетворение целей наших дорогих потребителей». Мы делаем свою работу качественно и с любовью, поэтому наши потребители всегда остаются довольны. </p>
            <p>Наша команда – это профессионалы своего дела! Для нас нет не решаемых задач! У нас только сертифицированный товар! Наш сервисный центр – это залог новой жизни Вашего устройства!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>