<div class="repair-warranty">
  <div class="row">
    <div class="col-md-7 col-12">
      <div class="repair-warranty__img">
        <img src="./img/perear-w.jpg" alt="">
      </div>
    </div>
    <div class="col-md-5 col-12 align-self-center  justify-content-center d-flex">
      <div class="repair-warranty__side">
        <div class="h1">Гарантия на ремонт</div>
        <div class="text-normal">
          4Apple предоставляет 12 месяцев гарантии на ремонт техники Apple, вся работа ведется официально и с договором с соблюдением всех законодательных правил Украины
        </div>
        <a href="" class="btn btn-blue btn-size-normal">Записаться на ремонт</a>
      </div>
    </div>
  </div>
</div>