
<div class="repear-list">
  <div class="container">
    <div class="main__header">
      <div class="h1 bold center">Качественный ремонт вашего гаджета</div>
      <div class="text-normal center">Специалисты из 4Apple качественно и в кратчайшие сроки выполнят ремонтные работы вашего гаджета Apple</div>
    </div>

    <div class="row">
      <!-- BEGIN .repear-list__item -->
      {% for item in repearList %}

      <div class="col-md-6 col-12">
        <div class="repear-list__item">

          <div class="repear-list__item-top {{item.pos}}" style="background-image: url('img/repear/{{item.bg}}');">
            <div class="">
              <div class="h1 light">Ремонт</div>
              <div class="h1 bold">{{item.top}}</div>
            </div>
            
          </div>

          <div class="repear-list__item-back">
            {% for item in item.list %}
              <!-- BEGIN .repear-list__item-list -->
              <ul class="repear-list__item-list">
                
                {% for item in item.items %}
                  <li><a href="" class="repear-list__item-list__link">{{item.link}}</a></li>
                  
                {% endfor %}
              </ul>
              <!-- END .repear-list__item-list -->
           
            {% endfor %}
          </div>

        </div>
      </div>

      {% endfor %}
      <!-- END .repear-list__item -->
    </div>
  </div>
</div>