<div class="repear-block">
  <div class="row">
    <div class="col-md-6 col-12 align-self-center  justify-content-center d-flex">

      <div class="repear-block__side">
        <div class="h1">Ремонт техники Apple</div>
        <div class="text-normal">
          Мы выполняем полный спектр услуг по ремонту и обслуживанию техники Apple. Наши специалисты выполняют ремонт любой сложности. Для выполнения срочного ремонта - выполните предварительную запись, воспользовавшись кнопкой ниже, 
либо позвоните нашему консультанту
        </div>
        <a href="" class="btn btn-blue btn-size-normal">Записаться на ремонт</a>
      </div>

    </div>
    <div class="col-md-6 col-12">
      <div class="repear-block__img">

        <img src="./img/repear.png" alt="">
      </div>
    </div>
  </div>
</div>
