<section class="seo-wrap">
    <div class="container">
        <div class="">
            <div class="text-wrap small-h3-inner">
                <h2>4 Apple - твой надежный продавец</h2>
                <p>Современный формат, мгновенное обслуживание клиентов позволили компании быстро завоевать доверие на рынке гаджетов и электронных девайсов. Сегодня в Украине более 60 магазинов сети, в которых представлены топовые модели <b>смартфонов</b>, <b>ноутбуков</b>, другой техники:</p>
                <h3>Какую технику мы предлагаем:</h3>
                <ul>
                    <li>cмартфоны, мобильные телефоны — от простых устройств до последних прогрессивных моделей; </li>
                    <li>ноутбуки, планшеты, стационарные компьютеры — для работы, игр, развлечений;</li>
                    <li>телевизоры, фото, аудиотехника; </li>
                    <li>смарт часы; </li>
                    <li>акустические системы, наушники, микрофоны на любой вкус;</li>
                </ul>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi tenetur alias vero nesciunt sit, quidem eius, vitae autem suscipit hic blanditiis numquam obcaecati expedita distinctio adipisci. Ex, eaque? Voluptatem, modi!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi tenetur alias vero nesciunt sit, quidem eius, vitae autem suscipit hic blanditiis numquam obcaecati expedita distinctio adipisci. Ex, eaque? Voluptatem, modi!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi tenetur alias vero nesciunt sit, quidem eius, vitae autem suscipit hic blanditiis numquam obcaecati expedita distinctio adipisci. Ex, eaque? Voluptatem, modi!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi tenetur alias vero nesciunt sit, quidem eius, vitae autem suscipit hic blanditiis numquam obcaecati expedita distinctio adipisci. Ex, eaque? Voluptatem, modi!</p>
            </div>
            <a href="#" class="read-more">
                <span>Читать полностью</span>
                <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.77441 5.32778L10.3869 1.16501C10.538 1.02863 10.5377 0.80781 10.3861 0.671651C10.2346 0.535597 9.98911 0.535948 9.83795 0.672354L5.49998 4.58734L1.16203 0.672213C1.01086 0.535825 0.765529 0.535473 0.613967 0.67151C0.537991 0.739765 0.500002 0.829185 0.500002 0.918605C0.500002 1.0078 0.537737 1.09686 0.613186 1.165L5.22557 5.32778C5.29819 5.39347 5.39701 5.43033 5.49998 5.43033C5.60295 5.43033 5.70166 5.39336 5.77441 5.32778Z" fill="#2A71E3"/>
                </svg>                    
            </a>
        </div>
    </div>
</section>