
<div class="title-page about" style="background-image: url('img/tb.png');">

  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Сервис</li>
    
    </ol>
    
    <h1 class="bold white">Сервис</h1>
    
  </div>


</div>