
<div class="title-page about" style="background-image: url('img/tabout.png');">

  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="">Главная</a> </li>
        <li class="breadcrumb-item active" aria-current="page"> О компании</li>
    
    </ol>
    
    <h1 class="bold white">О компании</h1>
    
  </div>


</div>