<div class="why-us">
  <div class="main__header">
    <div class="h1 bold center">Почему стоит доверить ремонт <br /> гаджетов Apple именно нам</div>
    <div class="text-normal center">Специалисты из 4Apple качественно и в кратчайшие сроки выполнят ремонтные работы вашего гаджета Apple</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">

      <div class="why-us__blue">
        <img src="./img/bluerepear.png" alt="">
      </div>

    </div>
    <div class="col-md-6 col-12">

      <div class="why-us__icons">

        <div class="why-us__icons-wrapper">
          {% for item in advantages %}
          <!-- BEGIN .advantages__item -->
            <div class="advantages__item">
              <div class="advantages__item-wrapper">
  
              
                <div class="advantages__icon">
                  {{mixins.icon(item.icon)}}
                </div>
                <div class="bold">{{item.text1}}</div>
                <div class="text">{{item.text2}}</div>
          
              </div>
            </div>
            
          <!-- END .advantages__item -->
          {% endfor %}
        </div>
        

      </div>

    </div>
  </div>
</div>