<!-- BEGIN .js-single-banner -->
<div class="js-single-banner single-banner swiper-container">

  <div class="swiper-wrapper">

    {% for item in sliderMain %}
    <!-- BEGIN .swiper-slide -->
    <div class="swiper-slide" style="background-image: url('./img/{{item.src}}');">

      <div class="container">

        <div class="row justify-content-end">
          <div class="col col-md-6 align-self-center  justify-content-center d-flex ">

            <div class="hero-banner__content">
              <div class="h1 light">{{item.text1}}</div>
              <div class="h1 bold">{{item.text2}}</div>
              <div class="text">{{item.text3}}</div>
              <div class="slide-price"> <span class="h2 blue bold">{{item.price}} <span class="size-normal">грн</span> </span> <span class="grey crossed">{{item.oldprice}} <span class="size-small">грн</span> </span>  </div>
              <a href="" class="btn btn-blue btn-size-normal">Купить</a>
            </div>
            
          </div>
        </div> 

      </div>

    </div>
    <!-- END .swiper-slide -->
    {% endfor %}

  </div>

   <!-- Add Pagination -->
   <div class="pagina-slider-main swiper-pagination"></div>

  <div class="btn-slider-nav btn-slider-nav-prev">
    {{mixins.icon('prev-btn')}}
  </div>
  <div class="btn-slider-nav btn-slider-nav-next">
    {{mixins.icon('next-btn')}}
  </div>

</div>
<!-- END .js-single-banner -->