<div class="our-everyday">
  <div class="main__header">
    <div class="h1 bold center">Наши будни</div>
    <div class="text-normal center">Наши специалисты любят свое дело и рады, когда их труд ценят. С радостью делимся с вами нашими фото сервиса</div>
  </div>
  <div class="swiper-container js-our-everyday-slider">


    <div class="swiper-wrapper">
        {% for item in ourEveryday %}
          <!-- BEGIN .swiper-slide -->
  
            <div class="swiper-slide">
              <a href="" class="our-everyday__link">
                <img src="./img/everyday/{{item.img}}" alt="">
              </a>
            </div>
          <!-- END .swiper-slide -->
        {% endfor %}
    </div>


    <div class="container">
      <div class="our-everyday__arrows">
        <div class="our-everyday-nav our-everyday-nav-prev">
          {{mixins.icon('chevleft')}}
        </div>
        <div class="our-everyday-nav our-everyday-nav-next">
          {{mixins.icon('chevright')}}
        </div>
      </div>
    </div>
    

  </div>
</div>