<div class="swiper-container slider-popular-tabs js-popular-products">
  <div class="swiper-wrapper">

    <!-- BEGIN slide -->

    {% for item in productSlider %}

    <div class="swiper-slide">

      <a href="" class="product-item">

        <span class="product-item__icons">
          <span class="product-item__icon">{{mixins.icon('heart')}}</span>
          <span class="product-item__icon">{{mixins.icon('bag')}}</span>
        </span>

        <span class="product-item__img">
          <img src="./img/products/{{item.img}}" alt="">
        </span>
        <span class="product-item__body">
          <span class="text-small grey-light">
            Артикул: MX9R2RM/A
          </span>
          <span class="text-normal">Apple iPhone 11 Pro Max 64 Gb</span>
          <span class="slide-price"> <span class="h3 blue bold">18 499 <span class="size-normal">грн</span> </span> <span class="grey crossed">19 499 <span class="size-small">грн</span> </span> </span>
        </span>

      </a>

    </div>

    {% endfor %}

    <!-- END slide -->

  </div>
  <div class="slider-popular-tabs__arrows">
    <div class="slider-popular-tabs-nav slider-popular-tabs-nav-prev">
      {{mixins.icon('prev-btn')}}
    </div>
    <div class="slider-popular-tabs-nav slider-popular-tabs-nav-next">
      {{mixins.icon('next-btn')}}
    </div>
  </div>
</div>