.breadcrumbs
  padding-bottom: 18px
  border-bottom: 1px solid #7B7B7B
  &-link
    font-size: 14px
    color: #FFFFFF
    margin-left: 0
    margin-right: 0
    +sf-l
    &::after
      content: '-'
      display: inline-flex
      margin-left: 4px
      margin-right: 4px
      color: #fff
    &__last
      pointer-events: none
      color: #B2B2B2
      &::after
        display: none