.btn
  color: $white
  background: $blue
  font-size: 18px
  +sf
  min-width: 233px
  height: 51px
  display: inline-flex
  align-items: center
  justify-content: center
  padding-left: 8px
  padding-right: 8px
  border-radius: 5rem