.container
  max-width: 1470px
  padding-left: 30px
  padding-right: 30px
  margin: 0 auto
  +r(767)
    padding-left: 15px
    padding-right: 15px
  &-slider
    max-width: 1430px
    margin: 0 auto


.col-small-gap
  margin-left: -3px
  margin-right: -3px
  > div
    padding-left: 3px
    padding-right: 3px
    padding-bottom: 6px
    +r(767)
      padding-bottom: 3px
  .col-md-8
    +rmin(768)
      width: 65.7%
      max-width: 65.7%
      flex: 1 0 65.7%
  .col-md-4
    +rmin(768)
      width: 34.3%
      max-width: 34.3%
      flex: 1 0 34.3%