.icon
  &-price1
    width: 51px
    height: 51px
    fill: #727272
  &-box1
    width: 48px
    height: 48px
    fill: #727272
  &-customer-service1
    width: 47px
    height: 47px
    fill: #727272
  &-surface1
    width: 45px
    height: 45px
    fill: #727272
  &-heart
    fill: #858585
    width: 18px
    height: 18px
  &-bag
    fill: #2A71E3
    width: 20px
    height: 19px
  &-repair1
    fill: #ffffff
    width: 48px
    height: 48px
  &-maintenance1
    fill: #ffffff
    width: 47px
    height: 47px
    position: relative
    left: 5px
  &-insurance1
    fill: #ffffff
    width: 47px
    height: 47px
    position: relative
    left: -6px
  &-time1
    fill: #ffffff
    width: 47px
    height: 47px