.hero-banner
  min-height: 25.99vw
  height: 100%
  max-height: 499px
  max-width: 1920px
  margin: 0 auto
  display: flex
  +rmin(1921)
    min-height: 500px
  +r(767)
    height: 101.25vw
  &__content
    margin: 0 auto
    padding-top: 3rem
    padding-bottom: 3rem
    +r(767)
    > *
      text-align: center
  .btn
    +r(767)
      margin: 0 auto
      display: flex
      justify-content: center
      align-items: center
      max-width: 233px
  .h2
    font-size: 32px
  .grey
    font-size: 18px
  .text
    margin: 17px 0
  .slide-price
    margin-bottom: 17px
  .swiper-slide
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    +r(767)
      background-size: contain
      background-position: bottom
    .container
      height: 100%
      max-width: 1410px
      box-sizing: border-box
      .row
        height: 100%
  .swiper-pagination-bullet
    width: 13px
    height: 13px
    background: #FFFFFF
    border: 2px solid #C0C0C0
    box-sizing: border-box
    +rmin(768)
      display: none
    &.swiper-pagination-bullet-active
      background: #2A71E3
      border-color: #2A71E3


.single-banner
  display: flex



  
.btn-slider-nav
  position: absolute
  top: 50%
  left: calc((100vw - 1470px) / 2)
  transform: translateY(-50%)
  z-index: 100
  cursor: pointer
  +rmin(1921)
    left: 0
  +r(1450)
    left: calc((100vw - 95vw)/2)
  &-next
    left: unset
    right: calc((100vw - 1470px) / 2)
    +rmin(1921)
      left: unser
      right: 0
    +r(1450)
      left: unset
      right: calc((100vw - 95vw)/2)