.icon-bag {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-box1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chev-next {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-chevleft {
  width: 2.05em;
  height: 1em;
  fill: initial;
}
.icon-chevright {
  width: 2.05em;
  height: 1em;
  fill: initial;
}
.icon-customer-service1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-insurance1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-maintenance1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-next-btn {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-prev-btn {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-price1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-repair1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-surface1 {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.icon-time1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
